/* Thanks to https://fossheim.io/writing/posts/css-text-gradient. */

.gradient-text {
  background: linear-gradient(
    45deg,
    #476098 22.666%,
    #a7489b 22.666%,
    #a7489b 33.333%,
    #8b9862 33.333%,
    #8b9862 50%,
    #f18f43 50%,
    #f18f43 66.666%,
    #e16541 66.666%,
    #e16541 83.333%,
    #ca4246 83.333%
  );

  /* Set the background size and repeat properties. */
  background-size: 100%;
  background-repeat: repeat;

  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  /* Animate the text when loading the element. */
  /* This animates it on page load and when hovering out. */
  animation: rainbow-text-animation 1s forwards;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.3;
  font-family: "Archivo Black", sans-serif;
}

/* when mobile size, the font-size should be 2rem */
@media screen and (max-width: 768px) {
  .gradient-text {
    font-size: 2rem;
  }
}

.gradient-text:hover {
  animation: rainbow-text-animation-rev 0.25s forwards;
}

/* Move the background and make it smaller. */
/* Animation shown when entering the page and after the hover animation. */
@keyframes rainbow-text-animation-rev {
  0% {
    background-size: 650%;
  }
  40% {
    background-size: 650%;
  }
  100% {
    background-size: 100%;
  }
}

/* Move the background and make it larger. */
/* Animation shown when hovering over the text. */
@keyframes rainbow-text-animation {
  0% {
    background-size: 100%;
  }
  80% {
    background-size: 650%;
  }
  100% {
    background-size: 650%;
  }
}
